[submodule "public"]
	path = public
	url = git@github.com:golangkorea/golangkorea.github.io
	branch = master
[submodule "golangkorea.github.io"]
	path = golangkorea.github.io
	url = git@github.com:golangkorea/golangkorea.github.io.git
